

.backplate {
  stroke: none;
  fill: rgb(255,239,193);
  /* stroke-width: 2px; */
}
.border {
  stroke: black;
  fill: none;
  stroke-width: 2px;
}

.tickLines {
  stroke: black;
  stroke-width: 0.5px;
}


.tickLabels {
  fill: black;
  font-size: 40%;
  /* font-family: Helvetica, sans-serif; */
  /* font-weight: 100; */
  stroke-width: 0.1;
}

.clkFooter {
  font-family: DSEG7-Classic;
  font-weight: bold;
  stroke: black;
  fill: rgb(80,80,80);
  stroke-width: 1px;
}

.footerLabels {
  fill: black;
  font-size: 70%;
  stroke-width: 0.1;
}
.footerLabelsBg {
  fill: rgb(86,86,86);
  stroke: none;
  font-size: 70%;
  /* stroke-width: 0.1; */
}

.tickLabelsBigClock {
  font-size: 80%;
  font-family: 'Libre Baskerville', serif;
  /* font-weight: 100; */
  /* stroke: black !important; */
  stroke-width: 0.2 !important;
}

.clkHeader {
  stroke: black;
  fill: none;
  stroke-width: 1px;
}



.hand {
  stroke: black;
  stroke-width: 3px;
}

.tick0 {
  stroke: hsl(45,93%,60%);;
  fill: hsl(45,93%,70%);
  stroke-width: 1px;
}
.tick3 {
  stroke: rgb(0,200,0);
  fill: rgb(0,200,0);
  stroke-width: 1.5px;
}
.tick4 {
  stroke: rgb(200,0,0);
  fill: rgb(200,0,0);
  stroke-width: 1.5px;
}
.tick5 {
  stroke: rgb(0,0,200);
  fill: rgb(0,0,200);
  stroke-width: 1.5px;
}



.hand3 {
  fill: rgb(0,200,0);
  stroke: rgb(0,120,0);
  stroke-width: 0.1px;
}
.hand4 {
  fill: rgb(200,0,0);
  stroke: rgb(120,0,0);
  stroke-width: 0.1px;
}
.hand5 {
  fill: rgb(0,0,200);
  stroke: rgb(0,0,120);
  stroke-width: 0.1px;
}

.cap {
  fill: rgb(200,200,200)
}
